<!DOCTYPE html>
<html lang="en">
<head>
    <title>Underline Link Hover</title>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="style3.css">
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
.nav{
    display: flex;
    padding: 20px;
    background-color:#2874F0 ;
    justify-content: space-around;
}
.nav li a{
    color:whitesmoke;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;

}
.nav li{
    list-style: none;
}
.nav li a:hover{

    background-color: whitesmoke;
    color:#2874F0 ;

    border-radius: 5px;
}

</style>
<br>
    <nav class="nav">
      <li><a href="/">Home</a></li>
					<li><a href="/AdminLogin" >AdminLogin</a></li>

					<li><a href="/UserLogin">UserLogin</a></li>
					<li><a href="/NewUser">NewUser</a></li>
    </nav>
   <img src="static/images/cus.jpg" alt="" height="500px" width="100%"
style="background-color:lightgray;">
</br></br></br>



<!-- header -->

<!-- //banner -->
<div class="about all_pad" align="center">
	<div class="container">
		<h3 class="title">New User Registration</h3>

		<form id="form1" name="form1" method="post" action="/newuser">
              <table width="35%" border="0" align="center">

    <tr>
          <td></td>
    </tr>
    <tr>
      <td width="45%" height="48">Name</td>
      <td width="55%"><input name="name" type="text" id="name"  required pattern="[A-Za-z ]{3,32}"/>
      </td>
    </tr>
    <tr>
      <td height="50">Gender</td>
      <td><input name="gender" type="radio" value="male" required />
        Male
          <input name="gender" type="radio" value="female" />
          Female</td>

    </tr>
    <tr>
      <td height="49">Age</td>
      <td>
        <input name="age" type="text" id="age" required size="3" />
      </td>
    </tr>
    <tr>
      <td height="48">Email Id</td>
      <td><input name="email" type="email" id="email" required /></td>
    </tr>
	  <tr>
      <td height="46">Phone Number </span></td>
      <td><input name="phone" type="text" id="phone"   required size="10" pattern="0-9]{9}"/></td>
    </tr>


	   <tr>
      <td height="50">Address</td>
      <td><textarea name="address" id="address" required></textarea></td>
       </tr>

    <tr>
      <td height="40">User Name</td>
      <td><input name="uname" type="text" id="uname"  required/></td>
    </tr>


    <tr>
     <td height="53">Passwrod</td>
      <td><input name="psw" type="password" id="psw"  required/></td>
    </tr>

	<tr>
      <td height="72">&nbsp;</td>
      <td><input name="btn" type="submit" id="btn" value="Submit" />
      <input type="reset" name="Submit2" value="Reset" /></td>
    </tr>
  </table>
            </form>

	</div>
</div>

<!-- contact -->
</br></br></br>
<footer style="padding:20px;background-color: #2874F0;">
	<p style="text-align: center;color:white;">Copyright to custo@gmail.com</p>
</footer>
</body>
</html>